body,
html {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}
a:visited {
    color: wheat;
}
a:hover,
a:focus {
    color: #68a1fd;
    text-decoration: underline;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
figure {
    margin: 0;
}
figure .photo-credit {
    display: none;
}

.container {
    margin: auto;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    color: #f9faf8;
    font-weight: bold;
    background: linear-gradient(to bottom, #3882f6 50%, #205bbb 100%);
    border-radius: 10px;
}
.btn:hover {
    background: linear-gradient(to bottom, #68a1fd 50%, #3b6ab4 100%);
    color: white;
}
.btn.second {
    background: linear-gradient(
        to bottom,
        rgb(218, 159, 93) 50%,
        rgb(180, 128, 68) 100%
    );
}
.btn.second:hover {
    background: linear-gradient(
        to bottom,
        rgb(236, 194, 147) 50%,
        rgb(189, 147, 99) 100%
    );
}

/* ***** HEADER ***** */
.header {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 0 20px;
}
.header .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 10px 0;
}
.header__logo {
    width: 80px;
    height: auto;
    background-color: wheat;
    border-radius: 100%;
    padding: 5px;
}
.header__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 0;
}
.header__menu li a {
    font-size: 18px;
    color: #e5e7eb;
}
.header__menu li a:hover {
    color: #68a1fd;
}

/* ***** BANNER ***** */
.banner {
    background-color: #1f2937;
    color: #f9faf8;
}
.banner .container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 20px;
}
.banner__info,
.banner__image {
    flex: 1 1 100%;
}
.banner__info h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
}
.banner__info p {
    color: #e5e7eb;
    margin-bottom: 20px;
}
.banner__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* ***** SECITONS ***** */
.sections {
    padding: 40px 20px;
    color: #1f2937;
}
.sections__title {
    font-size: 46px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 30px;
}
.sections__list {
    width: 100%;
    display: flex;
    list-style: none;
    padding: 0px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.sections__list li {
    flex: 0 1 min-content;
    width: min-content;
}
.sections__list li img {
    width: 100px;
    height: 100px;
    padding: 30px;
    border: #3882f6 solid 3px;
    border-radius: 10px;
}
.sections__list li p {
    font-size: 14px;
    text-align: center;
}

/* ***** QUOTATION ***** */
.quotation {
    background-color: #e5e7eb;
    color: #1f2937;
}
.quotation .container {
    padding: 40px 20px;
}
.quotation__quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 20px;
}
.quotation sup,
.quotation sub {
    display: inline-block;
    width: 40px;
    height: 40px;
}
.quotation .quotation-mark {
    width: 100%;
    height: 100%;
}
.quotation sub {
    transform: rotate(180deg);
    position: relative;
    bottom: -10px;
}
.quotation__author {
    font-weight: 700;
    font-size: 22px;
    text-align: right;
}

/* ***** CTA-BANNER ***** */
.cta-banner {
    background-color: #3882f6;
    color: #f9faf8;
    margin: 40px 0px;
}
.cta-banner .container {
    padding: 20px 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.cta-banner__cta {
    text-align: center;
}
.cta-banner__cta h3 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
}
.cta-banner__btn {
    border: #f9faf8 solid 2px;
    font-weight: 500;
}

/* ***** FOOTER ***** */
.footer {
    background-color: #1f2937;
    color: white;
    padding: 30px;
    text-align: center;
}

/* ***** 640 < ***** */
@media screen and (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

/* ***** 768 < ***** */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    .header .container {
        flex-direction: row;
    }
    .header__menu {
        flex-direction: row;
    }
    .banner .container {
        gap: 40px;
        padding: 50px 20px;
    }
    .banner__info,
    .banner__image {
        flex: 1 1 0%;
    }
    .sections {
        padding: 50px 20px 80px;
    }
    .sections__title {
        margin-bottom: 40px;
    }
    .sections__list {
        gap: 40px;
    }
    .quotation .container {
        padding: 80px 20px 70px;
    }
    .cta-banner .container {
        padding: 40px 20px;
        flex-direction: row;
    }
    .cta-banner {
        margin: 80px 0px;
    }
    .cta-banner__cta {
        text-align: left;
    }
}

/* ***** 1024 < ***** */
@media screen and (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

/* ***** 1280 < ***** */
@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
    .banner {
        padding: 150px 20px;
    }
    .sections {
        padding: 50px 20px 150px;
    }
    .quotation .container {
        padding: 150px 20px 130px;
    }
    .cta-banner {
        margin: 150px 0px;
    }
}

/* ***** 1536 < ***** */
@media screen and (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}
